.box1 {
  display: none;
  height: 300px;
  width: 300px;
  border: 5px black solid;
  background: red;
  color: #f8f8a2;
  padding: 5px 12px 15px 10px;
}
.box2 {
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 5px black solid;
  background: red;
  color: #f8f8a2;
  padding: 5px 12px 15px 10px;
}
